.main-footer{
    color:white;
    background-color: #2d2d2d;
    padding-top: 3em;
    position: relative;
    bottom: 0;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.list-unstyled {
    list-style: none;
    
}

.list-unstyled, ul{
    padding-bottom: 2em;
    padding-top: 1em;
}

.col hr {
    
}








@media (max-width: 500px) {
       .row {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2em;
       }
    }