.main-footer{
    color:white;
    background-color: black;
    padding-top: 3em;
    position: relative;
    bottom: 0;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

@media (max-width: 500px) {
       .row {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3em;
       }
    }