.service-wrapper  {
  margin: 10px;
  position: relative;
  text-align: center;
}



.service-wrapper h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    .service-wrapper img {
     max-width: 100%;
    }
        
}