.services-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 500px){

    .services-container{
        display:flex;
        flex-direction: column;
    
    }
}